body {
    overflow: hidden;
    margin: 0px;
    background-color: rebeccapurple;
}


#fishArea {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: black;
}

.z-index {
    z-index: 1;
}

.absolute {
    position: absolute;
}

.fish {
    transition: all .3s ease;
}

.slim {
    width: 6rem;
    height: auto;
}

